* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: Bernadette;
}

.custom-text-title {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-font-family: Bernadette;
    -fx-text-fill: #212529;
}

.custom-text-label {
    -fx-font-size: 13px;
    -fx-font-family: Bernadette;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #00B4D8;
}

.tab {
    -fx-background-color: transparent;
    -fx-padding: 15px;
}

.tab-pane {
    /*-fx-tab-min-width: 520px;*/
    /*-fx-tab-max-width: 520px;*/
    -fx-tab-min-width: 340px;
    -fx-tab-max-width: 340px;
}


.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #212529;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: Bernadette;
}

.tab:selected {
    -fx-background-color: rgba(253, 202, 64, 0.04);
    -fx-alignment: CENTER;
    -fx-border-color: #CAF0F8;
    -fx-border-width: 0 0 3 0;
}


.button {
    -fx-background-color: #03045E;
    -fx-text-fill: #F6F8FF;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-font-family: Bernadette;
}

.pane {
    -fx-background-color: #0077B6;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #F6F8FF;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #F6F8FF;
    -fx-text-fill: #babcc4;
    -fx-font-size: 13px;
}